@import "base/variables.scss";

.aboutus-section {
  &__block {
    margin: 154px 119px 193px 132px;
    display: flex;
    gap: 90px;

    @media screen and (max-width: $breakpoint-md) {
      flex-wrap: wrap;
      margin: 65px 30px 137px;
      gap: 50px;
    }
  }

  &__content {
    &__title {
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;
      line-height: 65px;
      min-height: 98px;

      @media screen and (max-width: $breakpoint-md) {
        font-size: $font-size-xxl;
        line-height: 50px;
        min-height: 50px;
      }
    }

    &__subtitle {
      margin-bottom: 23px;
      font-weight: $font-weight-bolder;
      font-size: $font-size-xxl;
      line-height: 36px;

      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 10px;
        font-size: $font-size-lg; //25px
        font-weight: $font-weight-bolder;
        line-height: 36px;
      }
    }

    &__description {
      font-weight: $font-weight-normal;
      font-size: $font-size-md;
      line-height: 30px;

      @media screen and (max-width: $breakpoint-md) {
        font-size: $font-size-sm;
        line-height: 28px;
      }
    }
  }

  &__images {
    display: flex;
    gap: 35px;

    @media screen and (max-width: $breakpoint-md) {
      gap: 20px; 
      width: 100%;
      justify-content: space-between;
    }

    &__item {
      width: 200px;
      height: 486px;
      border-radius: 644px;

      &:nth-of-type(2n) {
        transform: translateY(88px);
      }

      @media screen and (max-width: $breakpoint-md) {
        // width: 110px;
        // height: 268px;
        width: 30%;
        height: auto;
        aspect-ratio: 110/268;
        // height: 268px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }
  }
}
