@import "base/variables.scss";

.enrich-section {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
}

.brown-background {
  background-color: $secondary-color;
  width: 100%;
  height: auto;
  padding-bottom: 60%;
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  background-color: $primary-color;
  padding: 20px;
  text-align: center;
}

.content h2 {
  color: $secondary-color;
  margin-top: 0;
  margin-bottom: 10px;
}

.content p {
  color: $secondary-color;
  line-height: 1.6;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}