@import "base/variables.scss";

.hashtags-section {
  padding: 142px 0 37px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: $breakpoint-md) {
    padding: 40px 0;
  }
}