@import "base/variables.scss";

.our-insights {
  padding: 160px 125px;
  position: relative;

  @media screen and (max-width: $breakpoint-md) {
    padding: 117px 0 74px;
  }

  &__title {
    text-align: center;
    margin-bottom: 0;
  }

  &__list {
    margin-top: 98px;
    @media screen and (max-width: $breakpoint-md) {
      margin-top: 60px;
    }
  }

  &__item {
    margin: 10px;
    &__image {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 380/432;
        object-fit: cover;
      }
    }

    &__description {
      margin-top: 35px;
      font-weight: $font-weight-bold;
      font-size: $font-size-md-3;
      line-height: 36px;
      letter-spacing: 0px;
    }

    &:hover {
      text-decoration: none;
      .our-insights__item__image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #D8D8D8;
        opacity: 0.5;
        z-index: 1;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 8px;

    &__prev {
      position: relative;
      width: 17px;
      height: 8px;
      cursor: pointer;
    }

    &__next {
      position: relative;
      width: 17px;
      height: 8px;
      cursor: pointer;
    }
  }

  &__sticky-footer {
    position: absolute;
    left: -66px;
    bottom: 0;
    transform: rotate(-90deg) translateX(100%);

    font-weight: $font-weight-bold;
    font-size: $font-size-md-2;
    line-height: 26px;
    letter-spacing: 0px;

    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}