@use "base/variables" as *;

.btn {
  border-radius: $border-radius-lg;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: $font-weight-bold;
  font-size: $font-size-xxs;

  &__icon {
    margin-left: 12px;
  }

  
  &--primary {
    background-color: $primary-color;
    color: $secondary-color;

    &:hover {
      background-color: $primary-color;
    }
  }

  &--disabled {
    background-color: $gray-3-color;
    color: $gray-4-color;
    cursor: not-allowed;

    &:hover {
      background-color: $gray-3-color;
      color: $gray-4-color;
    }
  }

  &--fullwidth {
    width: 100%;
  }
}