extends layout/layout.pug

block content
  .activities-page
    include partials/memories
    include partials/inonetour
    include partials/highlightedmoments
    include partials/teambuilding
    include partials/ourinsights