extends layout/layout.pug

block content
  div(class="container")
    div(class="row")
      div(class="col")
        h1 The Downtown Cucci
        p Welcome to the Downtown Cucci, your go-to destination for all things cucci!
        p We offer a wide range of cucci products and services to meet your needs.
        p Our team is dedicated to providing you with the best experience possible.
        p Thank you for choosing the Downtown Cucci!
      div(class="col")
        img(src="./img/cuchi-logo.svg" alt="Cucci Logo" class="logo")
        p We are located in the heart of downtown, easily accessible by public transport.
        p Our store hours are Monday to Saturday, 9 AM to 9 PM.
        p Come visit us and discover the world of cucci!