section.aboutus-section
  .aboutus-section__block
    .aboutus-section__content
      .aboutus-section__content__title About Us
      .aboutus-section__content__subtitle A Breath of Fresh Air
      .aboutus-section__content__description Nestled in the tranquil countryside of Củ Chi, The Downtown Cuchi offers an idyllic retreat where lush greenery and open spaces replace the concrete jungle. It’s the perfect destination to disconnect from your daily routine and reconnect with nature. Imagine waking up to the sound of chirping birds, surrounded by breathtaking views of the countryside — a refreshing way to start your day.
    .aboutus-section__images
      .aboutus-section__images__item
        img(src="../img/aboutus-1.jpg", alt="")
      .aboutus-section__images__item
        img(src="../img/aboutus-2.jpg", alt="")
      .aboutus-section__images__item
        img(src="../img/aboutus-3.jpg", alt="")