include ../components/textfield
section.contactusform-section
  .contactusform-section__block
    .contactusform-section__title Contact Us Form
    .contactusform-section__form
      .contactusform-section__form__input
        +textfield("text", "name", "Your Name", "", "outlined")
      .contactusform-section__form__input
        +textfield("text", "phoneNumber", "Your Phone Number", "", "outlined")
      .contactusform-section__form__input
        +textfield("text", "email", "Your Email", "", "outlined")
      .contactusform-section__form__input
        +textfield("text", "content", "Tell Us ...", "", "outlined")
      .contactusform-section__form__button
        button.contactusform-section__form__button__button.btn.btn--primary.btn--disabled.btn--fullwidth Submit
          img.btn__icon(src="../img/arrow-right.svg", alt="")