.enrich-section
  .brown-background
  .image-container
    img(src="./img/female-camper-welcoming-cool-sunny-morning-mountain 1.png", alt="Enrich Your Stay")
  .content
    h2 WHAT ENRICH YOUR STAY?
    p At The Downtown Cuchi, there's never a dull moment. While the serene surroundings invite you to unwind, we also offer a variety of activities to make your stay even more memorable.
    a.button(href="#") See More