section.highlighted-moments-section
  h1.highlighted-moments-section__title HIGHLIGHTED MOMENTS

  .highlighted-moments-section__slider
    .highlighted-moments-section__slick.cucci-slick
      .highlighted-moments-section__item.video-container
        video(src="../videos/highlighted-1.mp4", alt="") 
        img.btn-play(src="../img/play.svg", alt="play")
      .highlighted-moments-section__item.video-container
        video(src="../videos/highlighted-2.mp4", alt="")
        img.btn-play(src="../img/play.svg", alt="play")
      .highlighted-moments-section__item.video-container
        video(src="../videos/highlighted-4.mp4", alt="")
        img.btn-play(src="../img/play.svg", alt="play") 
    .highlighted-moments-section__navigation 
      img.highlighted-moments-section__navigation__prev.cucci-slick-prev(src="../img/arrow-prev.svg", alt="")
      img.highlighted-moments-section__navigation__next.cucci-slick-next(src="../img/arrow-next.svg", alt="")