section.inonetour-section
  .inonetour-section__block
    .inonetour-section__block__content 
      h1.inonetour-section__block__content__title IN ONE TOUR
      .inonetour-section__block__content__description Fresh Air, Outdoor Experience and Savoring Cuisine
      button.inonetour-section__block__content__button.btn.btn--primary  Book Now
    .inonetour-section__block__image
      img(src="../img/in-one-tour.png", alt="")