section.intro1-section
  .intro1-section__skew-image
    .intro1-section__skew-image__skewed
    img(src="./img/female-camper-welcoming-cool-sunny-morning-mountain 1.png" alt="Intro Image" class="intro1-section__skew-image__image")
  .intro1-section__card
    .intro1-section__card__content
      h3.intro1-section__card__content__title What enrich your stay?
      p.intro1-section__card__content__text At The Downtown Cuchi, there’s never a dull moment. While the serene surroundings invite you to unwind, we also offer a variety of activities to make your stay even more memorable.
    .intro1-section__card__button
      button.btn.btn--primary See More