section.intro2-section
  .intro2-section__skew-image
    .intro2-section__skew-image__skewed
      .intro2-section__skew-image__skewed__content
        h1.intro2-section__skew-image__skewed__content__title RIDE A BIKE, 
        .intro2-section__skew-image__skewed__content__subtitle
          .intro2-section__skew-image__skewed__content__subtitle__main NOT YOUR 
          .intro2-section__skew-image__skewed__content__subtitle__emphasize MOBILE!
        p.intro2-section__skew-image__skewed__content__description Guided by the team at The Downtown Cuchi, your cycling adventure offers an immersive journey through this picturesque countryside, blending scenic landscapes, local traditions, and memorable activities.
        button.intro2-section__skew-image__skewed__content__button.btn.btn--primary See More
    img(src="./img/160357622c948d251a9b867c0dd447df78bda143.jpg" alt="Intro Image" class="intro2-section__skew-image__image")
  p.intro2-section__description Guided by the team at The Downtown Cuchi, your cycling adventure offers an immersive journey through this picturesque countryside, blending scenic landscapes, local traditions, and memorable activities.