section.meettheteam-section
  .meettheteam-section__skew-image
    .meettheteam-section__skew-image__images
      .meettheteam-section__skew-image__images__group
        .meettheteam-section__skew-image__images__item
          img(src="../img/meettheteam-1.jpg", alt="")
      .meettheteam-section__skew-image__images__group
        .meettheteam-section__skew-image__images__item
          img(src="../img/meettheteam-2.jpg", alt="")
        .meettheteam-section__skew-image__images__item
          img(src="../img/meettheteam-3.jpg", alt="")
    .meettheteam-section__skew-image__skewed
      .meettheteam-section__skew-image__skewed__content
        .meettheteam-section__skew-image__skewed__content__header
          .meettheteam-section__skew-image__skewed__content__header__pretitle Meet
          h1.meettheteam-section__skew-image__skewed__content__header__title THE TEAM
        //- TODO: MAKE BELOW CODE TO RESPONSIVE
        .meettheteam-section__skew-image__skewed__content__team
          p.meettheteam-section__skew-image__skewed__content__team__subtitle Danielle Nguyen
          p.meettheteam-section__skew-image__skewed__content__team__description Nestled in the tranquil countryside of Củ Chi, The Downtown Cuchi offers an idyllic retreat where lush greenery and open spaces replace the concrete jungle. It’s the perfect destination to disconnect from your daily routine and reconnect with nature. Imagine waking up to the sound of chirping birds, surrounded by breathtaking views of the countryside — a refreshing way to start your day.
          button.meettheteam-section__skew-image__skewed__content__team__button.btn Call Us