section.memories-section 
  .memories-section__title Delightful journey filled with unforgettable memories
  .memories-section__description It's the perfect blend of fun, relaxation, and togetherness that will leave you longing to return.
  .memories-section__list
    .memories-section__item 
      .memories-section__item__image
        img(src="../img/memories-1.png", alt="")
      .memories-section__item__content 
        .memories-section__item__content__title BILLARD
        .memories-section__item__content__description Enjoy a relaxing game of billiards at the homestay, perfect for fun, friendly competition, and unwinding with friends.
    .memories-section__item 
      .memories-section__item__image 
        img(src="../img/memories-2.png", alt="")
      .memories-section__item__content 
        .memories-section__item__content__title BILLARD
        .memories-section__item__content__description Enjoy a relaxing game of billiards at the homestay, perfect for fun, friendly competition, and unwinding with friends.
    .memories-section__item 
      .memories-section__item__image 
        img(src="../img/memories-3.png", alt="")
      .memories-section__item__content 
        .memories-section__item__content__title BILLARD
        .memories-section__item__content__description Enjoy a relaxing game of billiards at the homestay, perfect for fun, friendly competition, and unwinding with friends.
    .memories-section__item 
      .memories-section__item__image 
        img(src="../img/memories-4.png", alt="")
      .memories-section__item__content 
        .memories-section__item__content__title BILLARD
        .memories-section__item__content__description Enjoy a relaxing game of billiards at the homestay, perfect for fun, friendly competition, and unwinding with friends.