section.our-insights
  h3.our-insights__title Explore insights
  .our-insights__list.cucci-slick-3
    a(href="#").our-insights__item 
      .our-insights__item__image
        img(src="../img/our-insight-1.jpg", alt="")
      .our-insights__item__description Pedal Through Paradise: Scenic Bicycle Tours in Cuchi
    a(href="#").our-insights__item 
      .our-insights__item__image
        img(src="../img/our-insight-2.jpg", alt="")
      .our-insights__item__description Pedal Through Paradise: Scenic Bicycle Tours in Cuchi
    a(href="#").our-insights__item 
      .our-insights__item__image
        img(src="../img/our-insight-3.jpg", alt="")
      .our-insights__item__description Pedal Through Paradise: Scenic Bicycle Tours in Cuchi
  .our-insights__navigation 
      img.our-insights__navigation__prev.cucci-slick-3-prev(src="../img/arrow-prev.svg", alt="")
      img.our-insights__navigation__next.cucci-slick-3-next(src="../img/arrow-next.svg", alt="")
  .our-insights__sticky-footer Disconnect to Reconnect