section.teambuilding-section
  .teambuilding-section__skew-image
    .teambuilding-section__skew-image__skewed
      .teambuilding-section__skew-image__skewed__content
        h1.teambuilding-section__skew-image__skewed__content__title TEAM BUILDING
        p.teambuilding-section__skew-image__skewed__content__subtitle Tammy Nguyen and her team
        p.teambuilding-section__skew-image__skewed__content__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
    .teambuilding-section__skew-image__images
      .teambuilding-section__skew-image__images__group
        .teambuilding-section__skew-image__images__item
          img(src="../img/teambuilding-1.png")
        .teambuilding-section__skew-image__images__item
          img(src="../img/teambuilding-3.png")
      .teambuilding-section__skew-image__images__group
        .teambuilding-section__skew-image__images__item
          img(src="../img/teambuilding-2.png")
  //- p.intro2-section__description Guided by the team at The Downtown Cuchi, your cycling adventure offers an immersive journey through this picturesque countryside, blending scenic landscapes, local traditions, and memorable activities.