// Màu
$primary-color: #E7B260;
$secondary-color: #4C2922;
$white-color: #FFFFFF;
$white-2-color: #FFFEFE;
$gray-color: #D8D8D8;
$gray-2-color: #EBECF0;
$gray-3-color: #ECEFF2;
$gray-4-color: #A5B2BB;

// // Spacing
// $spacing-xs: 0.5rem;
// $spacing-sm: 1rem;
// $spacing-md: 1.5rem;
// $spacing-lg: 2rem;
// $spacing-xl: 3rem;

// Font-size
$font-size-xxxs: 10px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm-2: 16px;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-md-2: 22px;
$font-size-md-3: 24px;
$font-size-lg: 26px;
$font-size-xl-1: 30px;
$font-size-xl: 32px;
$font-size-xxl: 40px;
$font-size-xxxl: 60px;
// Font-weight
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-bolder: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
// Font-family
$font-family: 'Roboto', sans-serif;
// Border-radius
$border-radius-xs: 6px;
$border-radius-sm: 20px;
$border-radius-sm-1: 40px;
$border-radius-md: 25px;
$border-radius-lg: 100px;
$border-radius-xl: 9999px;
// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 482px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;
// // Z-index
// $z-index-modal: 1050;
// $z-index-dropdown: 1000;
// // Font-size responsive
// $font-size-responsive: (
//   xs: $font-size-xs,
//   sm: $font-size-sm,
//   md: $font-size-md,
//   lg: $font-size-lg,
//   xl: $font-size-xl,
//   xxl: $font-size-xxl
// );
// // Các biến khác
// $border-color: #E0E0E0;
// $background-color: #F8F9FA;
// // Các biến cho typography
// $line-height: 1.5;
// $letter-spacing: 0.05em;